@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

*{
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/background.png');
}

h2{
    text-transform: uppercase;
}

a{
    color:green;
    text-decoration: none;
    font-weight: bold;
}

header{
    width: 80%;
    display: flex;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

figure{
    width: 20%;
}

.name{
    width: 80%;
}

div.name h1, h3{
    position: relative;
    top: 30%;
    left: 5%;
}

main{
    display: flex;
    width: 80%;
    margin: 1vw auto;    
}

article{
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    line-height: 1.8;
}

aside{
    width: 20%;
    background-color: white;
    border-radius: 5px;
    margin-right: 1vw;
    padding: 3%;
}

.group-of-scills{
    background-color: rgba(230, 230, 230, 0.623);
    border-radius: 5px;
    padding: 5%;
    margin-top: 3vh;
}

.group-of-scills h3{
    margin-bottom: 10%;
}

.scill{
    background-color: rgba(199, 199, 199, 0.877);
    border-radius: 5px;
    margin: 5%;
    padding: 2px 10px;
}

.scillname{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

progress{
    border-radius: 5em;
    background-color: rgb(156, 127, 73);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.rank{
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.8rem;
    margin-right: 5%;
}

footer{
    background-color: white;
    border-radius: 5px;
    display: flex;
    width: 80%;
    margin: 1vh auto; 
    
}

footer h2{
    box-sizing: border-box;
    width: 22.3%;
    margin: 1vh 3%;
    border-right: 1px solid  rgba(199, 199, 199, 0.877);
    padding: 1% 4%;
}

address{
    width: 80%;
    padding-top: 3vh;
}

.contact{
    display: inline-block;
    width: 23%;
}

.contact p, .contact a{
    position: relative;
    bottom: 1rem;
    margin-left: 5%;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
}

.contact img{
    border-radius: 5px;
    
}